.panel_wrapper {
    // height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;

    .panel_top {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #3c3c3c;
        padding: 0 20px;

        .ant-breadcrumb-link {
            color: white;
        }
    }

    .panel_main {
        background: #fff;
        border: 1px solid #ccc;
        border-top: none;
        padding: 12px 20px;
        min-height: 600px;
    }
}