{
  "presets": [
    "react-app"
  ],
  "plugins":[
    //let value = a?.b?.c?.d; 配置问号语法
    "@babel/plugin-proposal-optional-chaining",
    //导入有bug
    // [
    //   "import",
    //   {
    //     "libraryName": "antd",
    //     "style": true
    //   }
    // ] 
  ]
}  