@import '~antd/dist/antd.css';
@import './common.less';
@import '../iconfonts/iconfont.css';

body{
    font-size: 14px;
    color: #626262;
    font-family: Microsoft Yahei;
    box-sizing: border-box;
    overflow: hidden;
}
.ant-drawer-body{
    padding: 0;
}
.ant-form-item{
    margin-bottom: 12px;
}

.a-ele{
    color:#2a91fb;
    cursor: pointer;
    &:hover{
        color:#2276ca; 
    }
}
