.draftBlog_wrapper {
  padding: 12px 20px;
}

.Blog_title_wrapper {
  display: flex;
  align-items: center;
}

.Blog_title_ipyt {
  flex: 1;
  overflow: hidden;
  margin-right: 12px;
}

.blog_type_wrap {
  display: flex;
}

.blog_type_wrap :global .ant-form-item {
  flex: 1;
  overflow: hidden;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
}

.blog_type_wrap :global .ant-form-item-label {
  text-align: left;
}
.desc_popconfirm :global .anticon-exclamation-circle {
  display: none;
}
.desc_popconfirm :global .ant-popover-message-title {
  padding: 0;
}
.desc_wrap {
  width: 300px;
}

.desc_title {
  font-size: 20px;
  margin-bottom: 12px;
}
