.reactwrapper {
    background: #F4F6F9;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.ee {
    border: 2px dashed black;
}

.pageWrapper {
    flex: 1;
    overflow: auto;
}